<div class="jumbotron text-center">
  <h1>Welcome to Web App</h1>
  <p>This will be slider position.</p>
</div>
<div class="row">
	  <div class="col-md-4">

	  </div>
	  <div class="col-md-4">

	  </div>
	  <div class="col-md-4">

	  </div>
</div>