<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-2">
  		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <a href="#">Register Now</a> | <a href="#">Forgot Password?</a>
		  <button type="submit" class="btn btn-default">Submit</button>
	</form>
  </div>
  <div class="col-md-5"></div>
</div>

