<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Web App</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNav">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path %>">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="<%= login_path %>">Login</a></li>
        <li><a href="<%= contact_path %>">Contact</a></li>
    </div>
  </div>
</nav>